<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/2.3.0"
        id          = "org.datacosmos.thankyou"
        versionCode = "10"
        version     = "2.3.0">
 
    <name>Thank You</name>
 
    <description>
        A simple thank you application.
    </description>
 
    <author href="http://datacosmos.com" email="augustin@datacosmos.com">
        Augustin Bralley
    </author>

    <preference name="phonegap-version" value="2.3.0" />
 
    <feature name="http://api.phonegap.com/2.3.0/camera"/>
    <feature name="http://api.phonegap.com/2.3.0/contacts"/>
    <feature name="http://api.phonegap.com/2.3.0/file"/>
    <feature name="http://api.phonegap.com/2.3.0/geolocation"/>
    <feature name="http://api.phonegap.com/2.3.0/media"/>
    <feature name="http://api.phonegap.com/2.3.0/network"/>
    <feature name="http://api.phonegap.com/2.3.0/notification"/>

    <!--<plugin name="Contacts" value="CDVContacts" />-->
 
</widget>